.App {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  font-weight: normal;
}

ul.App-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

li.App-listitem {
  font-weight: bolder;
  font-size: 10pt;
  align-items: left;
}
